<div id="<%= dom_id restaurant_pizza %>">
  <p>
    <strong>Price:</strong>
    <%= restaurant_pizza.price %>
  </p>

  <p>
    <strong>Pizza:</strong>
    <%= restaurant_pizza.pizza_id %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= restaurant_pizza.restaurant_id %>
  </p>

</div>
